---
layout: default
title: TEssay Analytics | Blog
permalink: /blog/
---
	<h2 class="page-heading">TEssay Analytics Blog</h2>

	<ul class="posts">
		{% for post in site.posts %}
			{% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
			{% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

			<li>
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

				<h4>
					<a class="post-link" href="{{ post.url | relative_url }}"{% if lang != empty %} lang="{{ lang }}"{% endif %}>{{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}</a>
				</h4>
			</li>
		{% endfor %}
	</ul>
